$black: #222;

.wrapper {
    border: 2px solid $black;
    margin: 0 auto;
    max-width: 1000px;
}

.accordion {
    cursor: pointer;
}
.list {
    cursor: default;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}