$black: #222;
$green: #009933;

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Alegreya', serif;
    color: $black;
    background-image: url("kitchen-background.jpg");
    background-size: cover;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    border: {
        left: 20px solid transparent;
        right: 20px solid transparent;
    }
}

h1 {
    text-align: center;
}

.recipe-list {
    border: 2px solid $black;
    border-radius: 5px;
    background-color: $green;
    padding: 10px;
}

.panel {
    border: 0;
}

.panel-heading {
    border: 1px solid black !important;
    background-color: #70db70 !important;
}

.panel-title a {
    cursor: pointer;
    font-weight: bold;
}

.panel-body {
    background-color: #145214;
    border: 0 !important;
}

.footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
	width: 100%;
    position: absolute;
    bottom: 10px;
}

.footer a {
    color: #444;
}

.btn {
    margin: 5px;
}

.btn-bottom {
    position: relative;
    margin-bottom: 50px;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}